# GIT
.git
.gitignore

# Docker
Dockerfile*
.dockerignore
docker
!/docker/rails
docker-compose.yml
docker-compose.override.yml

# Dev
.byebug_history
.circleci
.codeclimate.yml
tmp

# Other
**/.DS_Store
**/.editorconfig
**/.idea
**/README.md
