<div id="update">

  <div class="container" id="update-content">

    <%= simple_form_for @child, url: @child_action_path do |f| %>

      <h1>
        Souhaitez-vous continuer à recevoir nos messages&nbsp;?
      </h1>

      <div class="text-center end-buttons">
        <button name="child[group_status]" value="stopped" type="submit" class="btn-danger btn-lg">
          Arrêter
        </button>
        <button name="child[group_status]" value="active" type="submit" class="btn-primary btn-lg">
          Continuer
        </button>
      </div>

    <% end %>

  </div>

</div>
