<li class="aafc-comment">
  <div class="aafc-related-content">
    <span class="fa-li"><i class="far fa-comment"></i></span>
    <% if (!defined?(show_related) || show_related) && field_comment.related %>
      <span class="aafc-related">
        <%= field_comment.related.decorate.admin_link %>
      </span>
    <% end %>
    <span class="aafc-content">
      <%= link_to field_comment.content, [:admin, field_comment] %>
    </span>
  </div>
  <div class="aafc-date-author">
    <span class="aafc-date">
      le <%= l field_comment.created_at.to_date, format: :short %>
    </span>
    <% if (!defined?(show_author) || show_author) && field_comment.author %>
      <span class="aafc-author">
        par <%= auto_link field_comment.author %>
      </span>
    <% end %>
  </div>
</li>
