<div id="can-send-automatic-sms-validation" class="modal" style="display: none;">
<!--  <input type="hidden" id="admin-user-id" value="<%#= current_admin_user.id %>">-->
<!--  <div class="modal-content">-->
<!--    <span class="close">&times;</span>-->
<!--    <h3>Êtes-vous sûr.e ?</h3>-->
<!--    <div id="can-send-automatic-sms-validation-content">-->
<!--      <div id="address">-->
        <%#= @child_support.parent1.decorate.full_address %>
<!--        Bonjour-->
<!--      </div>-->
<!--      <div id="errors-presentation">-->
<!--        <span>Retrouvez les erreurs fréquentes <a href='<%#= ENV['FREQUENT_ADDRESS_ERRORS_LINK'] %>' target='_blank'>ici</a></span>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="buttons-line">-->
<!--      <div id='modal-address-modification-button' class='button button-outline'> Modifier l'adresse</div>-->
<!--      <div id='modal-address-validation-button' class='button button-primary'> Valider l'adresse</div>-->
<!--    </div>-->
<!--  </div>-->
</div>
