<div class="big-numbers">

  <div class="big-number txt-blue">
    <div class="big-number--value">
      <%= collection.object.count %>
    </div>
    <div class="big-number--title">
      Enfants
    </div>
  </div>

  <div class="big-number txt-green">
    <div class="big-number--value">
      <%= collection.object.families_count %>
    </div>
    <div class="big-number--title">
      Familles
    </div>
  </div>

</div>

