.available_support_module
  color: #767E84
  padding: 3px 5px 2px 5px
  border-radius: 3px
  background-color: #CACACA

// lien vers le contenu du module sur Airtable
.support-module-airtable-link
  font-size: 11px
  color: $dark-grey
  text-decoration: none
  white-space: nowrap

  &:hover
    text-decoration: underline
