#child_support_call0_reading_frequency_input
  .choices
    display: flex
    flex-direction: column


#child_support_call0_tv_frequency_input
  .choices
    display: flex
    flex-direction: column

#child_support_books_quantity_input
  .choices
    display: flex
    flex-direction: column

.border
  span
    font-style: italic
    font-weight: bold
    display: inline-block
    margin-bottom: 10px
  border: 1px solid black
  border-radius: 20px
  padding: 15px 0 0 15px

#child_support_parent1_available_support_module_list + .select2-container--default .select2-selection__choice
  &:nth-of-type(-n+3)
    background-color: #98FB98

#child_support_parent2_available_support_module_list + .select2-container--default .select2-selection__choice
  &:nth-of-type(-n+3)
    background-color: #98FB98

.call_first_line_container
  display: flex
  flex-flow: row nowrap
  justify-content: space-between
  align-items: baseline

  .call_first_line_item
    width: 50%

  .call_notice
    margin: 15px
    padding: 15px
    border: 1px solid
    border-radius: 10px
