.recommanded_script
  color: #2081C3
  font-size: 80%

.ressource-label
  font-size: 14px
  font-weight: bold

#call_recording_warning
  background-color: $violet
  color: white
  text-align: center
  width: 100%
  padding: 10px
  font-weight: bold

#child_support_call0_reading_frequency_input
  .choices
    display: flex
    flex-direction: column


#child_support_call0_tv_frequency_input
  .choices
    display: flex
    flex-direction: column

#child_support_books_quantity_input
  .choices
    display: flex
    flex-direction: column

.border
  span
    font-style: italic
    font-weight: bold
    display: inline-block
    margin-bottom: 10px
  border: 1px solid black
  border-radius: 20px
  padding: 15px 0 0 15px

#child_support_parent1_available_support_module_list + .select2-container--default .select2-selection__choice
  &:nth-of-type(-n+3)
    background-color: #98FB98

#child_support_parent2_available_support_module_list + .select2-container--default .select2-selection__choice
  &:nth-of-type(-n+3)
    background-color: #98FB98

#child_support_tabs_form
  .input
    .label
      width: 100%
      margin-bottom: 5px
  #parent-1, #parent-2
    #child_support_current_child_attributes_parent1_attributes_book_delivery_location_input, #child_support_current_child_attributes_parent2_attributes_book_delivery_location_input
      .inline-hints
        margin-left: 0
        width: 50%
        color: #dc4747
    .boolean.input.optional
      margin-left: 0


.previous_goals_follow_up
  border: 1px solid
  border-radius: 25px
  padding-left: 30px

#child_support_call1_previous_call_goals_input,
#child_support_call2_previous_call_goals_input,
#child_support_call3_previous_call_goals_input,
#child_support_call4_previous_call_goals_input,
#child_support_call5_previous_call_goals_input,
#child_support_call1_goals_tracking_input,
#child_support_call2_goals_tracking_input,
#child_support_call3_goals_tracking_input,
#child_support_call4_goals_tracking_input,
#child_support_call5_goals_tracking_input,
  label
    margin-bottom: 20px !important

#child_support_is_bilingual_input
  .label
    margin-right: 40px

#child_support_call0_parent_progress_input,
#child_support_call1_parent_progress_input,
#child_support_call2_parent_progress_input,
#child_support_call3_parent_progress_input,
#child_support_call4_parent_progress_input,
#child_support_call5_parent_progress_input,
  .choices
    .choice
      margin-left: 0
      display: block
      label
        font-size: 80%

#address-validation
  h3
    text-align: center
    margin-top: 20px
    margin-bottom: 50px
  .buttons-line
    justify-content: space-around

#address-validation-content
  display: flex
  flex-direction: row
  justify-content: space-between
  margin-bottom: 50px
  #address, #errors-presentation
    width: 40%

.address-suspected-invalid-info
  margin-top: 5px
  width: fit-content
  h4
    margin-bottom: 0
  h5
    color: $dark-grey

.buttons-line
  display: flex
  flex-direction: row
  justify-content: flex-end
  gap: 20px
  margin: 10px
  .button
    cursor: pointer
    border: 1px solid #5E6469
    border-radius: 3px
    display: inline-block
    padding: 8px 12px
    &:active
      background-color: #626669
      border-color: #626669
  .button-outline
    background-color: white
    color: #5E6469
    &:hover
      background-color: #626669
      color: white
  .button-primary
    background-color: #5E6469
    color: white
    &:hover
      background-color: #7b8083
      color: white

#children-books-sent
  display: flex
  flex-direction: column
  margin-bottom: 2rem
  h4
    margin-bottom: 0.5rem
  div
    span
      margin-right: 10px
  #child-books-sent
    display: flex
    flex-wrap: wrap
    .book-card
      width: 180px
      display: flex
      flex-direction: column
      .card-img-top
        display: flex
        align-items: center
        img
          max-width: 100%
          height: auto
          object-fit: contain
      .card-body
        padding-top: 5px
        padding-bottom: 5px
        flex-grow: 1
        .card-text
          display: inline-block
          font-size: 80%
      .card-footer
        position: relative
        display: flex
        flex-direction: column
        .select
          margin: 0
        .book-issue-confirmation-message
          font-size: 80%
          color: $success
          margin-top: -1rem
          display: none
      .select2-container
          width: 70% !important

.ui-tabs-active
  a
    color: black !important
    font-weight: bold

.resource-links
  list-style: none
  padding: 0
  margin: 0
  display: flex
  gap: 50px
  
  li
    display: inline-flex
    align-items: center
    
    a
      display: flex
      align-items: center
      gap: 5px

    &.scripts-select
      .select2-container
        min-width: 200px
      
      label
        margin-right: 8px
  
