@import variables

$gap: 120px
$bullet-size: 8px
$timeline-color: #5E6469

.events-history
  position: relative
  padding-left: $gap

  .timeline
    position: absolute
    left: 0
    width: 5px
    height: 100%
    border-left: 1px dashed $timeline-color

  .event
    position: relative
    margin: 30px 0

    .timeline-anchor
      position: absolute
      top: 0
      left: -($gap + $bullet-size/2)
      width: $gap

      .bullet
        display: inline-block
        vertical-align: middle
        font-size: $bullet-size
        color: $timeline-color

      .occurred-at
        margin-left: 5px
        font-size: 14px
        color: #999

    .admin-link
      display: block
      position: absolute
      top: 2px
      right: 10px
      font-size: 12px

    &.text-message, &.workshop-participation, &.other-event, &.survey-response
      .body, .comments
        margin-top: 10px
        border: 1px solid #dedede
        background-color: #f1f1f1
        border-radius: 5px
        padding: 10px
        font-size: 14px
        font-family: monospace
        white-space: pre-wrap
