@import variables

$bullet-size: 8px
$timeline-color: #5E6469

.events-history
  position: relative

  .timeline
    position: absolute
    left: 0
    width: 5px
    height: 100%
    border-left: 1px dashed $timeline-color

  .event
    position: relative
    margin: 30px 0

    .occurred-at
      margin-left: 5px
      font-size: 14px

    .pending
      color: #ffcc00

    .delivered
      color: #28a745

    .sent
      color: #007bff

    .in-progress
      color: #ff8800

    .failed
      color: #dc3545

    .exipired
      color: #6c757d

    .admin-link
      display: block
      position: absolute
      top: 2px
      right: 10px
      font-size: 12px

    &.sent_by_app_text_messages
      margin-left: 30%
    
    &.received_text_messages
      margin-right: 30%
      .body
        background-color: #fe5e4d !important

    &.text-message, &.workshop-participation, &.other-event, &.survey-response
      .body
        margin-top: 10px
        border: 1px solid #dedede
        background-color: #f1f1f1
        border-radius: 5px
        padding: 10px
        font-size: 14px
        font-family: monospace
        white-space: pre-wrap
        height: 3rem
        overflow: hidden
      .workshop-participation-comment
        font-weight: bold
        background-color: #7c7c7c
        color: #f1f1f1
