@import variables

ul.aafc-ul
  li
    margin-top: 5px

    &.aafc-comment
      .aafc-related-content
        .aafc-related

        .aafc-related + .aafc-content
          &:before
            content: ' - '

      .aafc-date-author
        font-size: 80%

        .aafc-date

        .aafc-author
          display: inline-block
