body.logged_in
  &.new, &.edit, &.create, &.update
    ul.errors
      margin-bottom: 20px
      padding: 20px
      background-color: $red
      color: white

    .input
      .label
        font-weight: bold

      &#child_support_call1_parent_progress_input,
      &#child_support_call2_parent_progress_input,
      &#child_support_call3_parent_progress_input,
      &#child_support_call4_parent_progress_input,
      &#child_support_call1_reading_frequency_input,
      &#child_support_call2_reading_frequency_input,
      &#child_support_call3_reading_frequency_input,
      &#child_support_call4_reading_frequency_input,
      &#child_support_call1_language_awareness_input,
      &#child_support_call2_language_awareness_input,
      &#child_support_call3_language_awareness_input,
      &#child_support_call4_language_awareness_input,
      &#child_support_call2_sendings_benefits_input,
      &#child_support_call3_sendings_benefits_input,
      &#child_support_call4_sendings_benefits_input
        .choices
          .choice
            label
              font-size: 80%

    input[type="search"]
      &.select2-search__field
        height: auto

    .inputs.has_many_fields
      & > ol
        border: 1px solid #ccc
        border-radius: 5px
        padding-top: 20px
        position: relative

        & > li.handle.ui-sortable-handle
          position: absolute
          display: flex
          align-items: center
          left: 0
          top: 0
          width: 25%
          height: 100%
          cursor: move
          padding-left: 20px
