@import variables

#header
  ul#utility_nav
    li.menu_item#global_search
      text-align: left

      select

#global_search_input

.select2-results
  .select2-results__option
    .search-result
      position: relative
      padding-left: 24px

      .search-result-icon
        position: absolute
        left: 0
        top: 4px

      .name
        font-weight: bold

      .male
        .name
          color: $blue
      .female
        .name
          color: $rose

      &.search-result-parent
        .phone-number
          &:before
            content: ' - '
