@import variables

ul.aat-ul
  li
    margin-top: 5px

    &.aat-task
      .aat-related-title
        .aat-related
          font-weight: bold

        .aat-related + .aat-title
          &:before
            content: ' - '

      .aat-due-date-assignee
        font-size: 80%

        .aat-due-date
          margin-right: 10px

        .aat-assignee
          display: inline-block

      &.aat-past
        .aat-due-date
          color: $error

#new_task, #edit_task
  #task_title_input
    margin-bottom: 0

  #task_description_input
    margin-top: 20px

.admin_tasks
  .blank_slate_container
    display: none
