@import variables

.txt-blue
  color: $blue
.txt-green
  color: $green
.txt-rose
  color: $rose
.txt-red
  color: $red
.txt-yellow
  color: $yellow
.txt-grey
  color: $grey

.txt-error
  color: $error
.txt-warning
  color: $red
.txt-success
  color: $success
.txt-info
  color: $info

.text-right
  text-align: right
.text-center
  text-align: center

.txt-underline
  text-decoration: underline

.free-text
  white-space: pre

.txt-italic
  text-decoration: italic
