---
:queues:
  - active_storage_analysis
  - active_storage_purge
  - default
  - mailers

:timezone: 'Europe/Paris'

:scheduler:
  :schedule:
    update_children_workshop_availability:
      cron: '0 3 * * *' # every day at 3am
      class: Child::UpdateChildrenWorkshopAvailabilityJob
    remove_unprogrammed_job:
      cron: '0 4 * * *'
      class: Events::TextMessage::RemoveUnprogrammedJob
    import_bubble_models_job:
      cron: '0 5 * * *'
      class: Bubble::ImportModelsJob
    import_from_airtable_job:
      cron: '0 1 * * *'
      class: Video::ImportFromAirtableJob
    stop_unassigned_number_job:
      cron: '30 1 * * *'
      class: Child::StopUnassignedNumberJob
    add_waiting_children_to_group_job:
      cron: '0 2 * * 1'
      class: Child::AddWaitingChildrenToGroupJob
    handle_duplicate_job:
      cron: '0 6 * * 7'
      class: Child::HandleDuplicateJob
    import_books_job:
      cron: '0 22 * * *'
      class: Book::ImportBooksJob
    aircall_sync_contacts_job:
      cron: '30 2 * * *'
      class: Aircall::SyncContactsJob
    add_eval_tag_to_children_job:
      cron: '0 8 * * *'
      class: 'Child::AddEvalTagToChildrenJob'
    send_eval_message_job:
      cron: '0 9 * * *'
      class: 'Child::SendEvalMessageJob'
    send_before_calls_message_job:
      cron: '0 5 * * 3'
      class: 'Parent::SendBeforeCallsMessageJob'
    calendly_sync_users_and_event_types_job:
      cron: '0 3 * * *'
      class: 'Calendly::SyncUsersAndEventTypesJob'
    send_next_day_scheduled_call_reminder_job:
      cron: '0 9 * * *'
      class: 'Parent::SendNextDayScheduledCallReminderJob'
    send_same_day_scheduled_call_reminder_job:
      cron: '0 7-15 * * *'
      class: 'Parent::SendSameDayScheduledCallReminderJob'
