<div class="data-row">
  <div class="data-col">
    <p>Objectif nombre de familles inscrites ou accompagnées</p>
  </div>
</div>
<div class="data-row">
  <div class="data-col">
    <p>Nombre total de familles inscrites ou accompagnées (hors popi)</p>
  </div>
  <div class="data-col">
    <p>Nombre d’enfants inscrits (hors popi)</p>
  </div>
  <div class="data-col">
    <p>Nombre de pères(hors popi)</p>
  </div>
</div>
<div class="data-row">
  <div class="data-col">
    <p>Nombre total de familles inscrites</p>
    <pre>
      <%= data_count_values["families_count"] %>
    </pre>
  </div>
  <div class="data-col">
    <p>Nombre total d'enfants inscrits</p>
    <pre>
      <%= data_count_values["children_count"] %>
    </pre>
  </div>
  <div class="data-col">
    <p>Nombre total de pères</p>
    <pre>
      <%= data_count_values["fathers_count"].inspect%>
    </pre>

  </div>
</div>
