<!--<div class="data-row">-->
<!--  <div class="data-col">-->
<!--    <p class="title">Objectif nombre de trimestres complet d’accompagnement</p>-->
<!--    <hr>-->
<!--    <p class="data-number"><%#= data_count_values["goal"] %></p>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="data-row">-->
<!--  <div class="data-col">-->
<!--    <p class="title">Enfants accompagnés (hors popi)</p>-->
<!--    <hr>-->
<!--    <p class="data-number"><%#= data_count_values["children_followed"] %></p>-->
<!--  </div>-->
<!--  <div class="data-col">-->
<!--    <p class="title">Familles accompagnées (hors popi) </p>-->
<!--    <hr>-->
<!--    <p class="data-number"><%#= data_count_values["families_followed"] %></p>-->
<!--  </div>-->

<!--  <div class="data-col">-->
<!--    <p class="title">Cohortes en cours</p>-->
<!--    <hr>-->
<!--    <p class="data-number"><%#= data_count_values["active_groups"] %></p>-->
<!--  </div>-->
<!--  <div class="data-col">-->
<!--    <p class="title">Cohortes terminées</p>-->
<!--    <hr>-->
<!--    <p class="data-number"><%#= data_count_values["stopped_groups"] %></p>-->
<!--  </div>-->
<!--</div>-->
