<div class="data-row">
  <div class="data-col">
    <p class="title">Moyenne des nombres de liens envoyés</p>
    <hr>
<!--    <p class="data-number"><%#= data_count_values["goal"] %></p>-->
  </div>
  <div class="data-col">
    <p class="title">Moyenne des nombres de visites familiales uniques</p>
    <hr>
    <!--    <p class="data-number"><%#= data_count_values["goal"] %></p>-->
  </div>
  <div class="data-col">
    <p class="title">Taux de visites familiales uniques</p>
    <hr>
    <!--    <p class="data-number"><%#= data_count_values["goal"] %></p>-->
  </div>
</div>
<div class="data-row">
  <div class="data-col">
    <p class="title">Moyenne des nombres de messages reçus</p>
    <hr>
        <p class="data-number"><%= data_count_values["messages_received"] %></p>
  </div>
  <div class="data-col">
    <p class="title">Moyenne des nombres de messages envoyés</p>
    <hr>
    <p class="data-number"><%= data_count_values["messages_sent"] %></p>
  </div>
</div>
