<div id="update-success">
  <div class="text-center" id="update-success-content">
    <%= render 'children_support_modules/success.html.erb',
      max_remaining_module_count: @max_remaining_module_count,
      remaining_module_count: @remaining_module_count, 
      child_first_name: @child_first_name
    %>
	</div>
</div>
