<!-- Début de widget en ligne Calendly -->
<div class="calendly-inline-widget" data-url="https://calendly.com/aristide-bamenou-1001mots/test-event?hide_event_type_details=1&hide_gdpr_banner=1&background_color=faf7ff&text_color=431f78&primary_color=ee2253" style="min-width:320px;height:700px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<!-- Fin de widget en ligne Calendly -->
