<% scheduled_jobs_group_by_module_number.each do |module_number_jobs| %>
  <div>
    <h3>Module <%= module_number_jobs.first %></h3>
    <div>
      <% module_number_jobs.second.each do |job| %>
        <div>
          <strong><%= job[:scheduled_date].strftime('%d/%m/%Y - %H:%M') %></strong>
          <%= job[:name] %>
        </div>
      <% end %>
    </div>
    <hr class="dashed">
  </div>
<% end %>
