<% scheduled_jobs_group_by_module_number.each do |(module_number, jobs)| %>
  <div>
    <h3>Module <%= module_number %></h3>
    <div>
      <% jobs.each do |job| %>
        <div>
          <strong><%= job[:scheduled_date] %></strong> :
          <%= job[:name] %>
        </div>
      <% end %>
    </div>
    <hr class="dashed">
  </div>
<% end %>
