// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;
//
// For ArcticAdmin customization, also use variables here:
// $primary-color: #2dbb43;

$rose: #FB6E9E;
$blue: #7EB7EF;

// Active Admin's got SASS!
@import "active_admin/mixins";
// do not @import "active_admin/base";
@import "arctic_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.status_tag {
  &.blue {
    background-color: $blue;
  }
  &.rose {
    background-color: $rose;
  }
}

a {
  &.blue {
    color: $blue;
  }
  &.rose {
    color: $rose;
  }
}
